<div th:fragment="navBar"> 
  <nav class="row navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Inspection Tasks</a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/tasks/new">Add New Task</a></li>
        </ul>
<!--         <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">Inspector</a>
          </li>
          <li>
            <a href="#">Construction Type</a>
          </li>
          <li>
            <a href="#">Status</a>
          </li>
          <li>
            <a href="#">Result</a>
          </li>
        </ul> -->
      </div>
    </div>
  </nav>
</div>
  