<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:replace="fragments/headLinks">
<title>Inspection Task List</title>
</head>
<body>
  <div class="container">
    <div th:replace="fragments/navBar"></div>
    <h1>Inspection List</h1>
    <ul class="nav nav-tabs">
      <li role="presentation" th:classappend="${filter == 'all' ? 'active' : '' }">
        <a href="/tasks">ALL</a>
      </li>
      <li role="presentation" th:each="type : ${T(com.da.inspectionList.model.Task.ConstructionType).values()}" th:classappend="${filter == '${type}' ? 'active' : '' }">
        <a th:href="@{/tasks?filter=} +${type}" th:text="${type}"></a>
      </li>
    </ul><br/>
    <div class="list-group" th:each="task:${tasks}">
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5>
            <span th:text="${task.constructionType}"></span><br/>
            Project name / Location: <span th:text="${task.location}"></span><br/>
            Inspection Activity: <a class="task" th:href="@{/tasks/} + ${task.id}">
              <span th:text="${task.inspActivity}"></span><br/>
            </a>
            Inspector: <span th:text="${task.inspector}"></span>
          </h5>
        </div>
      </div>
    </div>
    <div th:if="${#lists.isEmpty(tasks) and filter == 'all'}">
      <h3>No tasks have been created yet</h3>
    </div>
  </div>
  <div th:replace="fragments/scripts"></div>
</body>
</html>



    <div class="list-group" th:each="tweet:${tweetList}">
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5>
            <a class="username" th:href="@{/users/} + ${tweet.user.username}">
            @<span th:text="${tweet.user.username}"></span></a>
            <small th:text="${tweet.date}"></small>
          </h5>
        </div>
        <p class="mb-1" th:utext="${tweet.message}"></p>
      </div>
    </div>
    <div th:if="${#lists.isEmpty(tweetList) and filter == 'all'}">
      <h3>No tweets have been created yet</h3>
    </div>