<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:replace="fragments/headLinks">
<title>Inspection Task List</title>
</head>
<body>
  <div class="container">
    <div th:replace="fragments/navBar"></div>
    <h1>Inspection Task Details</h1>
    <h3 th:text="${task.constructionType}"></h3>
    <h4 th:text="${task.location}"></h4>
    <h4 th:text="${task.inspActivity}"></h4>
    <h4 th:text="${task.inspector}"></h4>
    <h5 th:text="${task.status}"></h5>
    <h5 th:text="${task.result}"></h5>
    <form th:action="@{/task/} + ${task.id} + @{/edit}" method="get">
      <button type="Submit" class="btn btn-success">Edit Inspection Task</button>
    </form>
  </div>
  <div th:replace="fragments/scripts"></div>
</body>
</html>
